<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Issues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IssuesKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BF358C71C29CD7E00714457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF358DB1C29CD7E00714457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF358E61C29CD7E00714457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF358FD1C29CDAA00714457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF359061C29CDAA00714457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
